body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #bb2525;
    box-shadow: 2px 2px 5px black;
    height: 75px;
}

header img{
    width: 200px;
    margin-left: 115px;
    padding-top:13px;
}
header img:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);}
    header{overflow:hidden;}

.frente{
    width: 100%;
    height: 100%;
}
.frente img{
    width: 100%;
    height: 100%;
    filter: brightness(40%);
}
.fondoTitulo{
    width: 76%;
    height: 18%;
    bottom: 20%;
    text-align: center;
    position: absolute;
    top: 48%;
    left: 6%;
    padding-bottom: 18px;
    border-radius: 75px;

}
.fondoTitulo .fondo1{
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    position: absolute;
    font-weight: 700;
    right: 6px;
    content: none;
    margin: 0%;
}
.fondoTitulo .imagen{
    position: absolute;
    width: 70%;
    height: 20%;
}
.paginaInstagram a img{
    top: 10px;
    position: absolute;
    width: 35px;
    height: 55px;
    right: 220px; 
}
.paginaInstagram img:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);}
    .paginaInstagram{overflow:hidden;}

.paginaFacebook a img{
    top: 10px;
    position: absolute;
    width: 35px;
    height: 55px;
    right: 160px;
}
.paginaFacebook img:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);}
    .paginaFacebook{overflow:hidden;}

.Ubicacion a img{
    top: 10px;
    position: absolute;
    width: 35px;
    height: 55px;
    right: 100px;
    padding: 0%;
}
.Ubicacion img:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);}
    .Ubicacion{overflow:hidden;}

.subSolapa{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 75px;
    opacity: .3;
    padding: 0%;
}
.subSolapa .inicio{
    color: black;
    font-size: 25px;
    padding: 5px;
    bottom: -24px;
    position: absolute;
    left: 195px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 0%;
}
.subSolapa .inicio:hover{
    -webkit-transform:scale(1.3);transform:scale(1.1);}
    .subSolapa{overflow:hidden;}

.subSolapa .productos{
    color: black;
    font-size: 25px;
    padding: 5px;
    bottom: -24px;
    position: absolute;
    left: 470px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 0%;
}
.subSolapa .productos:hover{
    -webkit-transform:scale(1.3);transform:scale(1.1);}
    .subSolapa{overflow:hidden;}

.subSolapa .servicios{
    color: black;
    font-size: 25px;
    padding: 5px;
    bottom: -24px;
    position: absolute;
    right: 200px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 0%;
}
.subSolapa .servicios:hover{
    -webkit-transform:scale(1.3);transform:scale(1.1);}
    .subSolapa{overflow:hidden;}
    
.sobreNosotros{
    background-color: #bb2525;
    width: 100%;
    height: 35%;
    position: absolute;
    top: 908px;
}
.sobreNosotros h2{
    width: 100%;
    color: white;
    position: absolute;
    text-transform: capitalize;
    margin-top: 20px;
    font-weight: 900;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sobreNosotros p{
    color: white;
    position: absolute;
    text-transform: capitalize;
    top: 55px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: justify;
    margin-top: 10px;
    font-weight: 500;
    font-size: 19px;
}
.frente2{
    width: 100%;
    height: 100%;
}
.frente2 img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1158px;
    filter: brightness(40%);
}
.mapa{
    position: absolute;
    width: 320px;
    height: 300px;
    margin: 0 auto;
    top: 1400px;
    left: 180px;
}

.TituloMapa{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 1230px;
    color: white;


    
}
.TituloMapa p{
    width: 271px;
    height: 25px;
    position: absolute;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 900;
    left: 210px;

    
}
.mapa iframe{
    width: 320px;
    height: 300px;
    right: 500px;
}
